.cards {
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto;
  list-style: none;
  max-width: calc(100% - 400px);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /*grid-template-columns: 1fr 1fr 1fr;*/
  /*grid-template-rows: 1fr 1fr 1fr;*/
  column-gap: 17px;
  row-gap: 18px;
  padding: 0px;
  margin-top: 50px;
  font-size: 0px;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  .cards {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 38px);
  }
}

@media all and (max-width: 320px) {
  .cards {
    margin-top: 36px;
    row-gap: 19px;
  }
}