.close__pic {
  position: fixed;
  top: 155px;
  left: 863px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.1);
}

@media all and (max-width: 320px) {
  .close__pic {
    max-height: 20px;
    max-width: 20px;
    left: 281px;
    top: 87px;
  }
}