.popup__container {
  position: fixed;
  width: 430px;
  height: 330px;
  background-color: white;
  top: 195px;
  left: 425px;
  border-radius: 10px;
 }

@media all and (max-width: 320px) {
  .popup__container {
    height: 322px;
    width: 282px;
    left: 19px;
    top: 123px;
  }
}