.popup__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: white;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  top: 117px;
  padding: 0px;
}

@media all and (max-width: 320px) {
  .popup__container {
    width: 282px;
    top: 57px;
  }
}