.profile {
  display: flex;
  flex-direction: row;
  max-width: calc(100% - 400px);
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}



@media all and (min-width: 321px) and (max-width: 1038px) {
  .profile {
    flex-direction: column;
    min-width: calc(100% - 32px);
    margin-top: 42px;
  }
}

@media all and (max-width: 321px)  {
  .profile {
    flex-direction: column;
    max-width: calc(100% - 32px);
    margin-top: 42px;
  }
}