.popup__savebutton {
  background-color: black;
  width: 358px;
  height: 50px;
  margin-top: 48px;
  margin-left: 36px;
  border-radius: 2px;
   }

@media all and (max-width: 320px) {
  .popup__savebutton {
    height: 46px;
    width: 238px;
    margin-top: 45px;
    margin-left: 22px;
  }
}