.popup__close-button {
  background-image: url(../../../images/CloseIcon.svg);
  background-size: cover;
  position: absolute;
  margin-left: 400px;
  margin-top: -100px;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
}

.popup__close-button:hover {
  opacity: 60%;
  cursor: pointer;
}

@media all and (max-width: 320px) {
  .popup__close-button {
    height: 20px;
    width: 20px;
    left: 281px;
    top: 87px;
  }
}

