.popup__save-button {
  background-color: black;
  width: 358px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 47px;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', 'Helvetica', 'sans-serif';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
}

.popup__save-button:hover {
  opacity: 80%;
  cursor: pointer;
}

@media all and (max-width: 320px) {
  .popup__save-button {
    height: 46px;
    width: 238px;
    margin-left: auto;
    margin-bottom: 30px;
    margin-top: px;
    font-size: 14px;
    line-height: 17px;
  }
}