.card__heart-button {
  background-image: url(../../../images/HEART.svg);
  border: none;
  background-color: white;
  min-width: 22px;
  max-height: 19px;
  margin: 0px;
  margin-right: 20px;
  margin-top: 31px;
}

.card__heart-button:hover {
opacity: 50%;
}